.about-purpose{
    padding: 2rem;
    padding-top: 6rem;
}

.about-filmmaking{
    padding: 2rem;
    padding-top: 2rem;
}

.content-creation{
    padding: 2rem;
    padding-top: 2rem;
}

.cv-tutorials{
    padding: 2rem;
    padding-top: 2rem;
}
