.navbar {
  background:linear-gradient(to right, #9900ff, #cc80ff) ;
  color: #1dd350;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-logo img {
  height: 50px; /* Adjust height as needed */
}

.navbar.scrolled {
  background-color: #333;
  transition: background-color 0.3s ease;

}

.navbar-logo {
  font-size: 1.5rem;
  transition: transform 0.3s ease;

}


.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links li a {
  color: #faf7f7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #9900ff;
}

/* Example animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-links li {
  animation: fadeIn 0.5s ease forwards;
  animation-delay: 0.3s;
}

.navbar-links li button {
  outline: none;
  border: none;
  background-color: #9900ff;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}
